* {
    unicode-bidi: bidi-override;
    direction: rtl;
}

@font-face {
    font-family: 'Gurafiku';
    src: url('Gurafiku-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gurafiku', Arial, sans-serif;
    color: #B8860B;
}

/* Your other CSS rules here */

/* Example rule for a specific element */
h1 {
    font-family: 'Gurafiku', Arial, sans-serif;
    color: #B8860B;
    text-align: center;
}
