/* styles.css */
@font-face {
    font-family: 'DhivehiFont';
    src: url('docs/Gurafiku-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Style for the navigation bar */
.navbar {
    background-color: #333;
    overflow: hidden;
    direction: rtl; /* Set text direction to right-to-left */

}

/* Style for the navigation bar links */
.navbar a {
    float: right; /* Float the links to the right */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: text-decoration 0.2s; /* Add transition for text-decoration */
}

/* Underline the text on hover */
.navbar a:hover {
    text-decoration: underline; /* Underline text on hover */
    color: white; /* Maintain text color */
}

/* Style for the hamburger menu icon */
.menu-icon {
    display: none; /* Hide the menu icon by default */
    cursor: pointer;
}

/* Media query for mobile view */
@media screen and (max-width: 600px) {
    .navbar a {
        float: none; /* Remove float for mobile view */
        display: none; /* Hide the links for mobile view */
        text-align: right; /* Adjust text alignment */
    }

    .menu-icon {
        display: block; /* Show the menu icon for mobile view */
        padding: 14px 16px;
    }

    /* Show the navigation links when the menu icon is clicked */
    .menu-icon.active + .navbar-links {
        display: block;
    }
}
